<%- include("./partials/header") %>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Denver Protests Information</h1>
        <p class="lead">
            The atmosphere of the protests in the Denver area has shifted significantly
            since the beginning of the protests nationwide. As an effect, there are
            multiple groups stepping in to lead marches and protests. <strong>Become
            aware of who you are marching behind and what message they are preaching. </strong>
        </p>
        <hr class="my-4">
        <p>Remember, as an ally, it is your responsibility to stay informed and engaged!</p>
        <p class="lead">
            <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>

<%- include("./partials/footer") %>